.container{
  border-style: solid;
  border-color: rgb(50, 4, 4);
  background-color:lightskyblue;
  width: 15rem;
  margin-left: 80vh;
  margin-top: 20vh;
 padding: 50px;
}

.btn{
  border-style: solid;
  border-color: black;
  background-color: rgb(154, 154, 177);
  border-radius: 5px;
  margin-left: 5vh;
  margin-top: 8vh;
}


h2{
  margin-left: 12vh;
  font-family: sans-serif;
}

p{
  margin-left: 19.9vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',sans-serif;
  font-size: 5vh;
}